/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_template.scss */
textarea:focus, input:focus {
  outline: none; }

/* line 6, ../sass/base/_template.scss */
body {
  background: #ffffff;
  margin: 0 auto;
  width: 960px;
  height: auto;
  font-family: "Miller Banner",Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
  font-size: 16px;
  color: #3D3D3D; }

/* line 16, ../sass/base/_template.scss */
#header-wrap {
  background: #ffffff; }

/* line 20, ../sass/base/_template.scss */
#content-wrap {
  background: #ffffff; }

/* line 24, ../sass/base/_template.scss */
#footer-wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  background: #ffffff; }

/* line 3, ../sass/components/_catalog_menu.scss */
.pane-nice-menus-1 {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04); }
  /* line 7, ../sass/components/_catalog_menu.scss */
  .pane-nice-menus-1 > .nice-menu-menu-catalog-menu {
    width: auto;
    float: none;
    background: #fff; }
    /* line 11, ../sass/components/_catalog_menu.scss */
    .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li {
      text-align: center;
      margin: 0 auto -1px auto;
      float: none;
      display: table-cell;
      vertical-align: middle;
      width: 10%;
      height: 50px;
      border-bottom: 1px solid transparent;
      border-top: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      background: #fff; }
      /* line 24, ../sass/components/_catalog_menu.scss */
      .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li:hover {
        color: #000;
        border-bottom: 1px solid #000; }
      /* line 28, ../sass/components/_catalog_menu.scss */
      .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li > a {
        text-decoration: none;
        padding: 0;
        color: unset; }
      /* line 33, ../sass/components/_catalog_menu.scss */
      .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li > ul {
        left: -1px;
        top: 49px;
        width: 100%;
        border-top: unset; }
        /* line 38, ../sass/components/_catalog_menu.scss */
        .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li > ul > li {
          background: #fff;
          height: 50px;
          padding-left: 15px;
          padding-right: 15px;
          width: calc(100% + 2px);
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.26); }
          /* line 46, ../sass/components/_catalog_menu.scss */
          .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li > ul > li:hover {
            background: #f4f4f4; }
          /* line 49, ../sass/components/_catalog_menu.scss */
          .pane-nice-menus-1 > .nice-menu-menu-catalog-menu > li > ul > li > a {
            text-decoration: none;
            padding: 0;
            color: unset;
            margin: auto; }

/* line 61, ../sass/components/_catalog_menu.scss */
ul.nice-menu-down li.menuparent {
  background: none; }

/* line 64, ../sass/components/_catalog_menu.scss */
ul.nice-menu-down li.menuparent:hover {
  background: none; }

/* line 68, ../sass/components/_catalog_menu.scss */
ul.nice-menu-down li {
  border: none; }

/* line 71, ../sass/components/_catalog_menu.scss */
ul.nice-menu li {
  border: none;
  background-color: unset; }

/* line 2, ../sass/components/_footer_inform.scss */
.pane-footer-inform-about-site-panel-pane-1 {
  display: inline-block;
  width: 40%; }

/* line 7, ../sass/components/_footer_inform.scss */
.pane-nice-menus-2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 60%;
  height: auto;
  float: right; }
  /* line 15, ../sass/components/_footer_inform.scss */
  .pane-nice-menus-2 > .nice-menu-menu-footer-menu > li {
    width: 120px;
    height: 50px; }
    /* line 18, ../sass/components/_footer_inform.scss */
    .pane-nice-menus-2 > .nice-menu-menu-footer-menu > li > a {
      text-decoration: none;
      color: unset; }

/* line 2, ../sass/components/_homepage_background.scss */
.pane-page-content > .contextual-links-region {
  background: rgba(0, 0, 0, 0.05); }

/* line 2, ../sass/components/_logotype.scss */
.pane-pane-for-logo {
  margin-top: 10px;
  display: inline-block; }

/* line 6, ../sass/components/_most_viewed.scss */
.pane-most-viewed-panel-pane-1 > .pane-title {
  font-style: oblique;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  cursor: default; }
  /* line 326, ../sass/abstractions/mixins.scss */
  .pane-most-viewed-panel-pane-1 > .pane-title:before {
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px;
    margin-right: 10px; }
  /* line 336, ../sass/abstractions/mixins.scss */
  .pane-most-viewed-panel-pane-1 > .pane-title:after {
    margin-left: 10px;
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px; }
/* line 10, ../sass/components/_most_viewed.scss */
.pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content {
  text-align: center; }
  /* line 12, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row {
    width: 220px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    cursor: pointer; }
    /* line 19, ../sass/components/_most_viewed.scss */
    .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row:hover {
      color: #000;
      transition: 0.25s; }
      /* line 22, ../sass/components/_most_viewed.scss */
      .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row:hover img {
        transition: 0.25s;
        opacity: 0.85;
        border: 2px solid rgba(0, 0, 0, 0.52); }
    /* line 28, ../sass/components/_most_viewed.scss */
    .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row:not(:hover) {
      transition: 0.25s; }
      /* line 30, ../sass/components/_most_viewed.scss */
      .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row:not(:hover) img {
        transition: 0.25s; }
    /* line 35, ../sass/components/_most_viewed.scss */
    .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row > .view-mode-more_viewed h2 {
      margin: 5px 0 0 0;
      font-weight: normal;
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-1 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #00cce2; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-2 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #4A9D6A; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-3 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #FFD7F4; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-4 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #FFFACC; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-5 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #bffff5; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-6 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #3E55F7; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-7 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #A1AB13; }
  /* line 45, ../sass/components/_most_viewed.scss */
  .pane-most-viewed-panel-pane-1 > .view-most-viewed > .view-content > .views-row-8 img {
    background: #FFF;
    border-radius: 110px;
    border: 2px solid #FF0091; }

/* line 2, ../sass/components/_node_product.scss */
.pane-page-content .node--product {
  display: table;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  /* line 7, ../sass/components/_node_product.scss */
  .pane-page-content .node--product .group-description-product {
    clear: both;
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    padding: 30px; }
    /* line 14, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-description-product .field--name-title h2 {
      font-weight: bolder;
      text-transform: uppercase;
      margin: 0; }
    /* line 20, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-description-product .field--name-body {
      text-align: justify;
      margin: 10px 0 0 0; }
      /* line 23, ../sass/components/_node_product.scss */
      .pane-page-content .node--product .group-description-product .field--name-body p {
        margin: 0; }
    /* line 27, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-description-product .field--name-field-cost {
      padding-top: 25px;
      font-style: oblique; }
  /* line 32, ../sass/components/_node_product.scss */
  .pane-page-content .node--product .group-product-image {
    width: 100%;
    padding: 30px; }
    /* line 36, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture {
      clear: both;
      display: table-cell;
      vertical-align: bottom; }
      /* line 42, ../sass/components/_node_product.scss */
      .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items {
        position: relative; }
        /* line 44, ../sass/components/_node_product.scss */
        .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item {
          padding-top: 2px;
          padding-right: 2px;
          width: 80px;
          height: 80px; }
          /* line 46, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item:last-child > img {
            position: absolute;
            bottom: 0;
            left: 70px; }
          /* line 53, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item:nth-last-child(2) > img {
            position: absolute;
            bottom: 68px;
            left: 22px; }
          /* line 60, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item:nth-last-child(3) > img {
            position: absolute;
            bottom: 149px;
            left: -2px; }
          /* line 67, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item:nth-last-child(4) > img {
            position: absolute;
            bottom: 233px;
            left: 0; }
          /* line 77, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item img {
            cursor: pointer;
            border: 2px solid #fff;
            border-radius: 40px; }
          /* line 82, ../sass/components/_node_product.scss */
          .pane-page-content .node--product .group-product-image .group-image-group > .field--name-one-more-picture > .field__items > .field__item .field__items > .field__item img:hover {
            opacity: 0.9;
            transition: 0.25s;
            border: 2px solid rgba(0, 0, 0, 0.1); }
    /* line 94, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-product-image .group-image-group > .field--name-field-pictures {
      display: table-cell; }
      /* line 96, ../sass/components/_node_product.scss */
      .pane-page-content .node--product .group-product-image .group-image-group > .field--name-field-pictures img {
        cursor: pointer;
        border: 2px solid rgba(0, 0, 0, 0.02);
        border-radius: 280px; }
      /* line 101, ../sass/components/_node_product.scss */
      .pane-page-content .node--product .group-product-image .group-image-group > .field--name-field-pictures img:hover {
        border: 2px solid rgba(255, 255, 255, 0.1);
        transition: 0.25s; }
    /* line 107, ../sass/components/_node_product.scss */
    .pane-page-content .node--product .group-product-image .field--name-post-date {
      text-align: right;
      font-style: oblique;
      font-size: 15px; }

/* line 2, ../sass/abstractions/mixins.scss */
.pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product:before, .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product:after {
  content: "";
  display: table; }
/* line 7, ../sass/abstractions/mixins.scss */
.pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product:after {
  clear: both; }
/* line 103, ../sass/abstractions/mixins.scss */
.pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content {
  text-align: center; }
  /* line 105, ../sass/abstractions/mixins.scss */
  .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row {
    margin: 3px;
    display: inline-block;
    position: relative; }
    /* line 48, ../sass/abstractions/mixins.scss */
    .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row > .view-mode-random_homepage_pictures {
      cursor: pointer; }
      /* line 50, ../sass/abstractions/mixins.scss */
      .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title {
        opacity: 0;
        display: flex;
        text-align: center;
        height: 100%;
        width: 100%;
        position: absolute;
        background: transparent;
        color: rgba(255, 255, 255, 0); }
        /* line 59, ../sass/abstractions/mixins.scss */
        .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title > .field__items {
          margin: auto;
          padding-left: 10px;
          padding-right: 10px; }
      /* line 65, ../sass/abstractions/mixins.scss */
      .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-field-pictures {
        transition: 0.3s;
        height: 310px; }
    /* line 72, ../sass/abstractions/mixins.scss */
    .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-title {
      opacity: 1;
      transition: 0.3s ease-out;
      color: white;
      background: rgba(0, 0, 0, 0.25);
      text-shadow: 0 0 10px #050505; }
    /* line 81, ../sass/abstractions/mixins.scss */
    .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.37); }
      /* line 83, ../sass/abstractions/mixins.scss */
      .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures > img {
        opacity: 0.95; }
    /* line 91, ../sass/abstractions/mixins.scss */
    .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title {
      transition: 0.1s ease-in; }
      /* line 93, ../sass/abstractions/mixins.scss */
      .pane-random-homepage-product-panel-pane-1 > .view-random-homepage-product > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title .field__items {
        color: rgba(255, 255, 255, 0); }

/* line 9, ../sass/components/_random_picture.scss */
.views-row-visible {
  transition: 1s;
  height: 310px !important; }

/* line 2, ../sass/components/_search.scss */
.panel-2col .panel-col-first .inside {
  margin: 0; }

/* line 5, ../sass/components/_search.scss */
.panel-2col .panel-col-last .inside {
  margin: 0; }

/* line 11, ../sass/components/_search.scss */
.pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-header {
  padding: 24px 0 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  font-style: oblique;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  cursor: default; }
  /* line 326, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-header:before {
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px;
    margin-right: 10px; }
  /* line 336, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-header:after {
    margin-left: 10px;
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px; }
/* line 2, ../sass/abstractions/mixins.scss */
.pane-search-titles-panel-pane-1 > .view-id-search_titles:before, .pane-search-titles-panel-pane-1 > .view-id-search_titles:after {
  content: "";
  display: table; }
/* line 7, ../sass/abstractions/mixins.scss */
.pane-search-titles-panel-pane-1 > .view-id-search_titles:after {
  clear: both; }
/* line 113, ../sass/abstractions/mixins.scss */
.pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content {
  text-align: center;
  margin-top: 8px; }
  /* line 116, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row {
    padding: 0.3125%;
    position: relative;
    transition: 0.3s;
    height: 325px;
    width: 100%;
    overflow: hidden; }
    /* line 123, ../sass/abstractions/mixins.scss */
    .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display {
      width: 100%;
      height: 100%;
      position: relative;
      transition: 0.3s; }
      /* line 128, ../sass/abstractions/mixins.scss */
      .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-first {
        width: 100%;
        position: absolute; }
        /* line 133, ../sass/abstractions/mixins.scss */
        .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content {
          position: relative; }
          /* line 136, ../sass/abstractions/mixins.scss */
          .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > a > img {
            margin-top: 4px;
            background: #fff;
            position: absolute; }
      /* line 146, ../sass/abstractions/mixins.scss */
      .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last {
        margin-top: 4px;
        width: 32.49475891%;
        position: absolute;
        height: 100%;
        overflow: hidden;
        cursor: default; }
        /* line 153, ../sass/abstractions/mixins.scss */
        .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside {
          position: relative;
          height: calc(100% - 8px);
          border: 1px solid rgba(0, 0, 0, 0.07);
          background: rgba(0, 0, 0, 0.03);
          transition: 0.3s;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          align-content: center;
          font-style: oblique;
          -webkit-flex-flow: row wrap;
          flex-flow: row wrap; }
          /* line 163, ../sass/abstractions/mixins.scss */
          .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside > .views-field-title {
            width: 100%;
            padding: 0 15px 0 15px;
            font-size: 30px;
            color: rgba(0, 0, 0, 0.45);
            transition: 0.3s; }
          /* line 170, ../sass/abstractions/mixins.scss */
          .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside > .views-field-body-value {
            width: 100%;
            height: 0;
            padding: 0 10px 0 10px;
            overflow: hidden;
            font-size: 15px;
            transition: 0.1s;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex; }
            /* line 178, ../sass/abstractions/mixins.scss */
            .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside > .views-field-body-value > .field-content {
              margin: auto; }
              /* line 180, ../sass/abstractions/mixins.scss */
              .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside > .views-field-body-value > .field-content > p {
                margin: 0; }
          /* line 185, ../sass/abstractions/mixins.scss */
          .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row > .panel-display > .panel-col-last > .inside > .views-field-field-cost {
            width: 100%;
            padding: 0 15px 0 15px;
            font-size: 30px;
            color: #ff5e5e;
            transition: 0.3s; }
    /* line 195, ../sass/abstractions/mixins.scss */
    .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row:hover {
      transition: 0.3s;
      background: rgba(0, 0, 0, 0.04);
      box-shadow: 0px 0px 3px 1px rgba(111, 111, 111, 0.41); }
      /* line 201, ../sass/abstractions/mixins.scss */
      .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row:hover > .panel-display > .panel-col-last > .inside {
        transition: 0.3s;
        background: rgba(0, 0, 0, 0.01);
        border: 1px solid rgba(0, 0, 0, 0.42); }
        /* line 205, ../sass/abstractions/mixins.scss */
        .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row:hover > .panel-display > .panel-col-last > .inside > .views-field-title {
          transition: 0.3s;
          text-shadow: 0px 0px 2px #000;
          color: rgba(0, 0, 0, 0.69); }
        /* line 210, ../sass/abstractions/mixins.scss */
        .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row:hover > .panel-display > .panel-col-last > .inside > .views-field-body-value {
          transition: 0.3s;
          height: 120px;
          margin: 35px 0 35px 0; }
        /* line 215, ../sass/abstractions/mixins.scss */
        .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > .views-row:hover > .panel-display > .panel-col-last > .inside > .views-field-field-cost {
          transition: 0.3s;
          text-shadow: 0px 0px 1px #FF0000;
          color: #FF0000; }
  /* line 232, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+1) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :first-child > img {
    margin-left: 0.628930818%;
    margin-right: 0.314465409%;
    left: 0; }
  /* line 239, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+1) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :last-child > img {
    margin-right: 0.628930818%;
    margin-left: 0.314465409%;
    right: 0; }
  /* line 249, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+1) > .panel-display > .panel-col-last {
    margin-left: 33.752620545%;
    margin-right: 0.314465409%;
    left: 0; }
  /* line 263, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+2) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :first-child > img {
    margin-left: 33.752620545%;
    margin-right: 0.314465409%;
    left: 0; }
  /* line 270, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+2) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :last-child > img {
    margin-right: 0.628930818%;
    margin-left: 0.314465409%;
    right: 0; }
  /* line 280, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+2) > .panel-display > .panel-col-last {
    margin-left: 0.628930818%;
    margin-right: 0.314465409%; }
  /* line 293, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+3) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :first-child > img {
    margin-left: 0.628930818%;
    margin-right: 0.314465409%;
    left: 0; }
  /* line 300, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+3) > .panel-display > .panel-col-first > .inside > .views-field-field-pictures > .field-content > :last-child > img {
    margin-left: 33.752620545%;
    margin-right: 0.314465409%;
    left: 0; }
  /* line 310, ../sass/abstractions/mixins.scss */
  .pane-search-titles-panel-pane-1 > .view-id-search_titles > .view-content > :nth-child(3n+3) > .panel-display > .panel-col-last {
    margin-left: 0.314465409%;
    margin-right: 0.628930818%;
    right: 0; }

/* line 1, ../sass/components/_see_more_pictures.scss */
.pane-see-more-product-homepage-panel-pane-1 {
  height: 200px;
  overflow: hidden; }
  /* line 4, ../sass/components/_see_more_pictures.scss */
  .pane-see-more-product-homepage-panel-pane-1 > .see-more {
    text-align: center;
    width: 150px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    margin: 40px auto 60px auto;
    background: #fff;
    transition: 0.3s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    position: relative;
    padding-top: 14px; }
    /* line 16, ../sass/components/_see_more_pictures.scss */
    .pane-see-more-product-homepage-panel-pane-1 > .see-more > .see-more-btn {
      height: 100%;
      width: 100%;
      cursor: pointer;
      font-size: 25px;
      font-style: oblique;
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.53); }
    /* line 25, ../sass/components/_see_more_pictures.scss */
    .pane-see-more-product-homepage-panel-pane-1 > .see-more > img {
      position: absolute;
      bottom: -34px;
      left: 62.5px;
      opacity: 0.4;
      transition: 0.3s; }
  /* line 34, ../sass/components/_see_more_pictures.scss */
  .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage {
    transition: 0.3s; }
    /* line 2, ../sass/abstractions/mixins.scss */
    .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage:before, .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage:after {
      content: "";
      display: table; }
    /* line 7, ../sass/abstractions/mixins.scss */
    .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage:after {
      clear: both; }
    /* line 103, ../sass/abstractions/mixins.scss */
    .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content {
      text-align: center; }
      /* line 105, ../sass/abstractions/mixins.scss */
      .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row {
        margin: 3px;
        display: inline-block;
        position: relative; }
        /* line 48, ../sass/abstractions/mixins.scss */
        .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row > .view-mode-random_homepage_pictures {
          cursor: pointer; }
          /* line 50, ../sass/abstractions/mixins.scss */
          .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title {
            opacity: 0;
            display: flex;
            text-align: center;
            height: 100%;
            width: 100%;
            position: absolute;
            background: transparent;
            color: rgba(255, 255, 255, 0); }
            /* line 59, ../sass/abstractions/mixins.scss */
            .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title > .field__items {
              margin: auto;
              padding-left: 10px;
              padding-right: 10px; }
          /* line 65, ../sass/abstractions/mixins.scss */
          .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-field-pictures {
            transition: 0.3s;
            height: 310px; }
        /* line 72, ../sass/abstractions/mixins.scss */
        .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-title {
          opacity: 1;
          transition: 0.3s ease-out;
          color: white;
          background: rgba(0, 0, 0, 0.25);
          text-shadow: 0 0 10px #050505; }
        /* line 81, ../sass/abstractions/mixins.scss */
        .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures {
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.37); }
          /* line 83, ../sass/abstractions/mixins.scss */
          .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures > img {
            opacity: 0.95; }
        /* line 91, ../sass/abstractions/mixins.scss */
        .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title {
          transition: 0.1s ease-in; }
          /* line 93, ../sass/abstractions/mixins.scss */
          .pane-see-more-product-homepage-panel-pane-1 > .view-see-more-product-homepage > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title .field__items {
            color: rgba(255, 255, 255, 0); }

/* line 40, ../sass/components/_see_more_pictures.scss */
.see-more-pictures {
  transition: 0.3s;
  margin-top: -20px; }

/* line 45, ../sass/components/_see_more_pictures.scss */
.see-more-hover {
  transition: 0.3s;
  border: 1px solid #fff !important;
  background: #000 !important; }
  /* line 49, ../sass/components/_see_more_pictures.scss */
  .see-more-hover > .see-more-btn {
    transition: 0.3s;
    color: #fff !important; }
  /* line 53, ../sass/components/_see_more_pictures.scss */
  .see-more-hover > img {
    transition: 0.3s;
    opacity: 1 !important; }

/* line 60, ../sass/components/_see_more_pictures.scss */
.see-more-visible {
  height: 3360px;
  transition: 1s; }

/* line 3, ../sass/components/_serach_box.scss */
.pane-searchbox-panel-pane-1 {
  float: right;
  margin-top: 85px; }
  /* line 7, ../sass/components/_serach_box.scss */
  .pane-searchbox-panel-pane-1 > .view-display-id-panel_pane_1 .views-exposed-widgets {
    position: relative;
    margin: 0; }
    /* line 10, ../sass/components/_serach_box.scss */
    .pane-searchbox-panel-pane-1 > .view-display-id-panel_pane_1 .views-exposed-widgets > .views-widget-filter-search_api_views_fulltext {
      padding: 0; }
      /* line 14, ../sass/components/_serach_box.scss */
      .pane-searchbox-panel-pane-1 > .view-display-id-panel_pane_1 .views-exposed-widgets > .views-widget-filter-search_api_views_fulltext > .views-widget > .form-item-search-api-views-fulltext > .form-text {
        height: 30px;
        width: 150px;
        background: #F7F7F7;
        border: 1px solid #DDD;
        border-radius: 3px;
        padding-right: 30px;
        transition: 0.3s;
        font-style: oblique;
        color: rgba(0, 0, 0, 0.55);
        padding-left: 10px; }
    /* line 29, ../sass/components/_serach_box.scss */
    .pane-searchbox-panel-pane-1 > .view-display-id-panel_pane_1 .views-exposed-widgets > .views-submit-button {
      position: absolute;
      top: 3px;
      right: 3px;
      float: none;
      padding: 0;
      height: 24px;
      width: 24px;
      opacity: 0.3;
      transition: 0.3s; }
      /* line 39, ../sass/components/_serach_box.scss */
      .pane-searchbox-panel-pane-1 > .view-display-id-panel_pane_1 .views-exposed-widgets > .views-submit-button > .form-submit {
        background: url(../../mf/images/search_box/search.png) no-repeat;
        margin: 0;
        background-size: cover;
        color: transparent;
        border: none;
        height: 100%;
        width: 100%; }

/* line 53, ../sass/components/_serach_box.scss */
.search_box_hover {
  transition: 0.3s;
  background: #f9f9f9 !important;
  border: 1px solid rgba(0, 0, 0, 0.28) !important; }

/* line 59, ../sass/components/_serach_box.scss */
.search_box_focus {
  color: rgba(0, 0, 0, 0.74) !important;
  transition: 0.3s;
  width: 300px !important;
  background: #fFFFFF !important;
  border: 2px solid rgba(0, 0, 0, 0.43) !important; }

/* line 67, ../sass/components/_serach_box.scss */
.search_submit_hover {
  transition: 0.3s;
  opacity: 0.5 !important; }

/* line 71, ../sass/components/_serach_box.scss */
.search_submit_focus {
  transition: 0.3s;
  opacity: 1 !important; }

/* line 1, ../sass/components/_slideshow_on_mainpage.scss */
.pane-view-slideshow-panel-pane-1 {
  margin-top: 10px; }

/* line 2, ../sass/components/_taxonomy_page.scss */
.pane-page-title {
  z-index: 1;
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }
  /* line 7, ../sass/components/_taxonomy_page.scss */
  .pane-page-title > h1 {
    margin: auto;
    color: #FFF;
    font-size: 2.5em;
    text-shadow: 0 0 10px #000;
    cursor: default; }

/* line 17, ../sass/components/_taxonomy_page.scss */
.pane-page-content > .contextual-links-region > .pane-taxonomy-term-field-image-for-title {
  margin-top: -140px; }
  /* line 22, ../sass/components/_taxonomy_page.scss */
  .pane-page-content > .contextual-links-region > .pane-taxonomy-term-field-image-for-title > .field--name-field-image-for-title > .field__items > .field__item > img {
    vertical-align: bottom; }
/* line 30, ../sass/components/_taxonomy_page.scss */
.pane-page-content > .contextual-links-region > .pane-term-description > p {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #000;
  text-shadow: 0 0 1px #3A3A3A; }
/* line 40, ../sass/components/_taxonomy_page.scss */
.pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
  /* line 43, ../sass/components/_taxonomy_page.scss */
  .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row {
    width: 160px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 0 0 -1px 0;
    border-bottom: 1px solid transparent;
    transition: 0.5s; }
    /* line 55, ../sass/components/_taxonomy_page.scss */
    .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row > .views-field-field-images > .field-content > a > img {
      vertical-align: bottom;
      transition: 0.5s;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url(grayscale.svg#greyscale);
      /* Firefox 4+ */
      filter: gray;
      /* IE 6-9 */ }
    /* line 63, ../sass/components/_taxonomy_page.scss */
    .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row > .views-field-name {
      margin: 0 0 5px 0; }
      /* line 66, ../sass/components/_taxonomy_page.scss */
      .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row > .views-field-name > .field-content > a {
        transition: 0.5s;
        color: #3D3D3D;
        text-decoration: none; }
    /* line 73, ../sass/components/_taxonomy_page.scss */
    .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row:hover {
      border-bottom: 1px solid #000;
      transition: 0.5s; }
      /* line 79, ../sass/components/_taxonomy_page.scss */
      .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row:hover > .views-field-field-images > .field-content > a > img {
        transition: 0.5s;
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%); }
      /* line 88, ../sass/components/_taxonomy_page.scss */
      .pane-page-content > .contextual-links-region > .pane-show-subterms-panel-pane-1 > .view-display-id-panel_pane_1 > .view-content > .views-row:hover > .views-field-name > .field-content > a {
        transition: 0.5s;
        color: #000000; }
/* line 100, ../sass/components/_taxonomy_page.scss */
.pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .pane-title {
  font-style: oblique;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  cursor: default; }
  /* line 326, ../sass/abstractions/mixins.scss */
  .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .pane-title:before {
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px;
    margin-right: 10px; }
  /* line 336, ../sass/abstractions/mixins.scss */
  .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .pane-title:after {
    margin-left: 10px;
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px; }
/* line 2, ../sass/abstractions/mixins.scss */
.pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term:before, .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term:after {
  content: "";
  display: table; }
/* line 7, ../sass/abstractions/mixins.scss */
.pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term:after {
  clear: both; }
/* line 103, ../sass/abstractions/mixins.scss */
.pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content {
  text-align: center; }
  /* line 105, ../sass/abstractions/mixins.scss */
  .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row {
    margin: 3px;
    display: inline-block;
    position: relative; }
    /* line 48, ../sass/abstractions/mixins.scss */
    .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row > .view-mode-random_homepage_pictures {
      cursor: pointer; }
      /* line 50, ../sass/abstractions/mixins.scss */
      .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title {
        opacity: 0;
        display: flex;
        text-align: center;
        height: 100%;
        width: 100%;
        position: absolute;
        background: transparent;
        color: rgba(255, 255, 255, 0); }
        /* line 59, ../sass/abstractions/mixins.scss */
        .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-title > .field__items {
          margin: auto;
          padding-left: 10px;
          padding-right: 10px; }
      /* line 65, ../sass/abstractions/mixins.scss */
      .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row > .view-mode-random_homepage_pictures > .field--name-field-pictures {
        transition: 0.3s;
        height: 310px; }
    /* line 72, ../sass/abstractions/mixins.scss */
    .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-title {
      opacity: 1;
      transition: 0.3s ease-out;
      color: white;
      background: rgba(0, 0, 0, 0.25);
      text-shadow: 0 0 10px #050505; }
    /* line 81, ../sass/abstractions/mixins.scss */
    .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.37); }
      /* line 83, ../sass/abstractions/mixins.scss */
      .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row:hover > .view-mode-random_homepage_pictures > .field--name-field-pictures > img {
        opacity: 0.95; }
    /* line 91, ../sass/abstractions/mixins.scss */
    .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title {
      transition: 0.1s ease-in; }
      /* line 93, ../sass/abstractions/mixins.scss */
      .pane-page-content > .contextual-links-region > .pane-random-product-of-taxonomy-term-panel-pane-1 > .view-random-product-of-taxonomy-term > .view-content > .views-row:not(:hover) > .view-mode-random_homepage_pictures > .field--name-title .field__items {
        color: rgba(255, 255, 255, 0); }

/*# sourceMappingURL=mf.styles.css.map */
