
.node--mainpage-slideshow--full {
  > .group-action {
    margin-top: 10px;
    position: relative;
    .field--name-field-image-for-background {
      position: absolute;
      height:100%;
      width: 100%;
    }
    :nth-child(n+2) {
      position: relative;
    }
    > .group-main-desc-of-action {
      .field--name-title {
        .field__items {
          .field__item {
            z-index: 1;
            position: relative;
            height: 150px;
            @include display-flex;
            h2 {
              margin: auto;
              color: #FFF;
              font-size: 2.5em;
              text-shadow: 0 0 10px #000;
              cursor: default;
            }
          }
        }
      }
      .field--name-field-image-for-title-of-action {
        margin-top: -150px;
        > .field__items {
        }
      }
      .field--name-body {
        position: absolute;
        z-index: 1;
        width: 600px;
        left: 20px;
        top: 120px;
        background: #FFF;
        box-shadow: 0 0 10px 1px #000;
        border-bottom-right-radius: 40px;
        .field__items {
          padding: 0 20px 0 20px;
          font-style: oblique;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
        }
        &:after {
          content: '';
          position: absolute;
          height: 10px;
          width: 10px;
          background: url('../../mf/images/zagugulina.png');
        }
      }
    }
    > .group-block-of-image-1 {
      margin-top: 55px;
      .field--name-field-image-1-of-action {
        width: 800px;
        height: auto;
        margin-left: 30px;
        img {
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.28);
        }
      }
      .field--name-field-body-1-of-action {
        position: absolute;
        top: 50px;
        right: 20px;
        height: auto;
        width: 230px;
        background: #fff;
        box-shadow: 0 0 20px 1px #000;
        .field__items {
          padding: 0 20px 5px 20px;
          letter-spacing: -0.5px;
          font-style: oblique;
          .field__item {
            p {
              &:first-letter {
                font-size: 30px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    > .group-block-of-image-2 {
      margin-top: 20px;
      .field--name-field-image-2-of-action {
        width: 800px;
        height: auto;
        margin-left: 130px;
        img {
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.28);
        }
      }
      .field--name-field-body-2-of-action {
        position: absolute;
        top: -40px;
        left: 80px;
        width: 250px;
        background: #fff;
        box-shadow: 0 0 20px 1px #000;
        .field__items {
          padding: 0 20px 5px 20px;
          font-style: oblique;
          .field__item {
            p {
              &:first-letter {
                font-size: 30px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    > .field--name-field-last-information-about-act {
      .field__items {
        background: #fff;
        @include display-flex;
        margin-top: 7px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.32);
        text-align: center;
        font-style: oblique;
        .field__item {
          margin: auto;
          width: 400px;

        }
      }
    }
  }
}

.pane-show-other-actions-on-actions-page-panel-pane-1 {
  > .pane-title {
    @include pane-title;
  }
  > .view-show-other-actions-on-actions-page {
    .view-content {
      text-align:center;
      .views-row {
        cursor: pointer;
        transition: 0.3s;
        display: inline-block;
        position: relative;
        overflow: hidden;
        .node--mainpage-slideshow {
          overflow: hidden;
          .field--name-title {
            position: absolute;
            width: 100%;
            background: rgba(255, 255, 255, 0.77);
            color: #000;
            font-size: 16px;
            font-style: oblique;
          }
          .field--name-field-images {
          }
          .field--name-body {
            height: auto;
            position: absolute;
            width: 100%;
            background: rgba(255, 255, 255, 0.77);
            color: #000;
            font-size: 16px;
            font-style: oblique;
            text-align: justify;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.11);
            .field__items {
              padding:0 20px 0 20px;
            }
          }
        }
      }
      > :nth-child(n) {
        margin: 10px;
      }

    }
  }
}
