$height_of_image:320px;

.pane-nice-menus-1 {
  width:100%;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  > .nice-menu-menu-catalog-menu {
    width: auto;
    float: none;
    background: #fff;
    > li {
      text-align:center;
      margin: 0 auto -1px auto;
      float: none;
      display: table-cell;
      vertical-align: middle;
      width: 10%;
      height: 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      border-top:1px solid #ffffff;
      border-left:1px solid #ffffff;
      border-right:1px solid #ffffff;
      background: #fff;
      &:hover {
        color: #000;
        border-bottom: 1px solid #000;
      }
      > a {
         text-decoration: none;
         padding: 0;
         color: unset;
      }
      > ul {
        left:-1px;
        top:49px;
        width: 100%;
        border-top: unset;
       > li {
          background: #fff;
          height:50px;
          padding-left: 15px;
          padding-right: 15px;
          width: calc(100% + 2px);
          @include display-flex;
          border-bottom: 1px solid rgba(0, 0, 0, 0.26);
         &:hover {
           background: #f4f4f4;
         }
        > a {
          text-decoration: none;
          padding: 0;
          color: unset;
          margin: auto;
          }
        }
      }
    }
  }
}

ul.nice-menu-down li.menuparent {
  background:none;
}
ul.nice-menu-down li.menuparent:hover {
  background:none;
}

ul.nice-menu-down li {
  border:none;
}
ul.nice-menu li {
  border:none;
  background-color: unset;
}