$height_of_image:320px;

.catalog-visible {

  width: 280px !important;
  transition: .3s ease;
}

.pane-nice-menus-1 {
  z-index: 501;
}

ul.nice-menu ul {
  top: unset;
}


.nav-menu-medium-screen {
  display: none;
  @include respond-to(to_960_screen) {
   display: block;
  }
> .nice-menu-menu-catalog-menu {
  height: 100%;
  position: fixed;
  width: 0;
  margin-top: 50px;
  padding-top: 40px;
  transition: .3s;
  overflow-y: scroll;
  background: #F4F4F4;
  > li {
    position: relative;
    width: 100%;
    font-size: 15px;
    text-align: center;
    a {
      color: #000;
    }
    > a {
      text-decoration: none;
      height: 32px;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      padding: 5px 0 0 10px !important;
    }
    > .spoiler {
      float: right;
      img {
        padding-top: 3px;
      }
    }
    > ul {
      @include clearfix();
      text-align: right;
      float: right;
      position: relative;
      li {
        position: relative;
        img {
          display: none;
        }
      }
    }
  }
  }
}

.btn-show-nav-menu {
  width: 100%;
  height: 50px;
  background: rgba(23, 23, 23, 1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.39);
  position: fixed;
  &:before {
    position: absolute;
    left: 60px;
    width: 2px;
    height: 100%;
    content: "";
    background: rgba(255, 255, 255, 1);
  }
  > a {
    display: block;
    height: 49px;
    width: 60px;
    position: absolute;
    cursor: pointer;
    left: 0;
    .sub-border-line {
      position: relative;
      width: 38px;
      float: right;
      margin: 10px 10px 0 0;
      height: 28px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.99);
      border-width: 2px 0;
      &:before {
        position: absolute;
        top: 11px;
        left: 0;
        width: 100%;
        height: 2px;
        content: "";
        background: rgba(255, 255, 255, 1)
      }
    }
  }
  .pointer-to-nav-menu {
    position: absolute;
    left: 68px;
    top: 11px;
    text-transform: capitalize;
    > span {
      font-size: 19px;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
    }
    > img {
      position: absolute;
      right: -29px;
      top: 2px;
      @include transform-rotate(-90deg);
      opacity: 0.3;
    }
  }
}


.nav-menu-full-screen {
  width:100%;
  @include clearfix();
  @include respond-to(to_960_screen) {
   display: none;
  }
  @include respond-to(from_960_screen) {
    display:block;
  }
  > .nice-menu-menu-catalog-menu {
    @include clearfix();
    box-shadow: 0px 10px 5px -9px rgba(0, 0, 0, 0.28);
    float: none;
   // @include linear-gradient(top, rgba(255, 255, 255, 1), 0%, rgba(245, 245, 245, 1), 100%);
    @include display-flex;
    @include justify-content(center);
    > li {
      float: none;
      padding: 0 8px;
      text-align: center;
      &:hover {
        color: #000;
        > ul {
          visibility: visible !important;
          opacity: 1 ;
          transition: .3s ease;
        }
        > a > span {
          transition: .3s ease;
          text-shadow: 0px 0px 1px rgba(255, 255, 255, .6);
          color: #fff;
        }
      }
      @include respond-to(from_640_to_960_screen) {
        > a {
          height: 45px !important;
        }
        > ul {
          top: 47px !important;
        }
      }
      > a {
        text-decoration: none;
        padding: 0;
        height: 50px;
        display: table-cell;
        vertical-align: middle;
        > span {
          transition: .3s ease;
          font-weight: 100;
          letter-spacing: -0.5px;
          display: block;
          color: #F5F5F5;
        }

      }
      > ul {
        top:50px;
        text-align: center;
        width: 100%;
        display: block !important;
        opacity: 0 ;
        transition: .3s ease;
        @include linear-gradient(bottom, rgba(255, 255, 255, 1), 0%, rgba(245, 245, 245, 1), 100%);
       > li {
         text-align: center;
         float: unset;
         display: inline-block;
         width: unset;
         padding: 10px;
         margin: 10px 5px;
         transition: .3s ease;
         &:hover {
           transition: .3s ease;
           background: rgba(40, 40, 40, 1);
           box-shadow: 0px 0px 6px 1px #000000;
           > a {
             span {
               transition: .3s ease;
               color: #fff;
             }
             img {
               transition: .3s ease;
               background: #F8F8F8;
             }
           }
         }
        > a {
          color: unset;
          span {
            transition: .3s ease;
            text-align: left;
            height: 25px;
            width: 100%;
            display: block;
            font-size: 14px;
            border-radius: 3px;
          }
          img {
            transition: .3s ease;
            padding: 3px;
            background: #282828
          }
          }
        }
      }
    }
  }
}

ul.nice-menu-down li.menuparent {
  background:none;
}
ul.nice-menu-down li.menuparent:hover {
  background:none;
}

ul.nice-menu-down li {
  border:none;
}
ul.nice-menu li {
  position: unset;
  border:none;
  background-color: unset;
}

ul.nice-menu-down .menuparent a {
  padding: 0;
}

ul.nice-menu a {
  padding: 0;
}

ul.nice-menu ul {
  border-top: unset;
}

.here_goes {
 margin-top: 54px;
  .nice-menu-menu-catalog-menu {
    position: fixed !important;
    top: 0;
    width: 960px !important;
    box-shadow: 0px 10px 6px -8px #000;
  }
}