.node--product--colorbox {
  > .field--name-title {
    z-index: 10;
    width: 40%;
    height: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    > .field__items {
      > .field__item {
        > h2 {
          margin: 0;
        }
      }
    }
  }
  > .field--name-field-pictures {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 10px;
    > .field__items {
      width: 100%;
      display: flex;
      height: 620px;
      overflow: hidden;
      > .field__item {
        display: none;
        margin: auto;
        img {
          cursor: url(/sites/all/themes/mf/images/cursors/cursor_loupe.png),pointer;
          max-width: none;
          position:relative;
        }
         &:first-child {
        }
         &:nth-child(n+2) {
        }
      }
    }
  }
  > .field--name-one-more-picture {
    margin-top: 10px;
    > .field__items {
      > .field__item {
        > .field--name-field-pictures {
          > .field__items {
            float: right;
            > .field__item {
              width: 100px;
              height: 60px;
              margin: 5px;
              display: inline-block;
              text-align: center;
              cursor: pointer;
              img {
                transition: 0.3s;
              }
              .under-img {
                transition: 0.3s;
                width: 30px;
                background: rgba(0, 0, 0, 0.20);
                height: 1px;
                margin: 10px auto 0 auto;
              }
              &:hover {
                img {
                  transition: 0.3s;
                  opacity: 0.8;
                }
                .under-img {
                  transition: 0.3s;
                  background: #000;
                  width:50px;
                }
              }
            }
          }
        }
      }
    }
  }
  > .change-image {
    display: flex;
    width: 200px;
    height: 80px;
    :first-child {
      font-size: 20px;
      margin: auto;
      cursor: default;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.34);
    }
    :nth-child(n+2) {
      height: 48px;
      width: 48px;
      margin: auto 5px auto 15px;
      opacity: 0.6;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        opacity: 1;
      }
    }
    .increase {
      background: url(/sites/all/themes/mf/images/size_increase.png);
    }
    .decrease {
      background: url(/sites/all/themes/mf/images/size_decrease.png);

    }
  }
}



.hidden {
  display: none;
}
.visible {
  display: block !important;
}
.visuallyhidden {
  opacity: 0;
}

.image-increase {
  transition: 0.3s;
  width: auto !important;
  height: 1300px !important;
}

#cboxClose {
  opacity: 0.2;
  top: 0;
  background-image: url(/sites/all/themes/mf/images/close_button.png);
  height: 30px;
  width: 30px;
  right: 0;
  bottom: unset;
}

#cboxLoadedContent {
  margin-bottom:0;
}