.node--product--colorbox {
  > .field--name-title {
    z-index: 10;
    width: 40%;
    height: 30px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    > .field__items {
      > .field__item {
        > h2 {
          margin: 0;
        }
      }
    }
  }
  > .field--name-field-pictures {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 10px;
    > .field__items {
      width: 100%;
      display: flex;
      height: 620px;
      overflow: hidden;
      > .field__item {
        display: none;
        margin: auto;
        img {
          max-width: none;
          position:relative;
        }
        &:first-child {
        }
        &:nth-child(n+2) {
        }
      }
    }
  }
  > .field--name-one-more-picture {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    > .field__items {
      > .field__item {
        > .field--name-field-pictures {
          display: flex;
          > .field__items {
            margin: auto;
            > .field__item {
              width: 67px;
              height: 40px;
              padding: 5px;
              float: left;
              display: flex;
              flex-flow: row wrap;
              text-align: center;
              cursor: pointer;
              transition: 0.3s;
              position: relative;
              img {
                margin: auto;
                transition: 0.3s;
              }
              .under-img {
                position: absolute;
                transition: 0.3s;
                width: 30px;
                background: rgba(0, 0, 0, 0.2);
                height: 1px;
                margin: 10px auto 0 auto;
                left: 23.5px;
                bottom: -10px;
              }
              &:hover {
                transition: 0.3s;
                box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.37);
                background: rgba(0, 0, 0, 0.04);
                img {
                  transition: 0.3s;
                  opacity: 0.8;
                }
                .under-img {
                  transition: 0.3s;
                  background: #000;
                  width:50px;
                  left: 13.5px;
                }
              }
            }
          }
        }
      }
    }
  }
  > .change-image {
    float: left;
    display: flex;
    width: 165px;
    height: 80px;
    :first-child {
      font-size: 16px;
      margin: auto;
      cursor: default;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.34);
    }
    :nth-child(n+2) {
      height: 30px;
      width: 30px;
      margin: auto 5px auto 5px;
      opacity: 0.6;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        opacity: 1;
      }
    }
    .increase {
      background: url(/sites/all/themes/mf/images/size_increase.png);
      background-size: cover;
    }
    .decrease {
      background: url(/sites/all/themes/mf/images/size_decrease.png);
      background-size: cover;
    }
  }
}



.hidden {
  display: none;
}
.visible {
  display: block !important;
}
.visuallyhidden {
  opacity: 0;
}

.image-increase {
  transition: 0.3s;
  width: auto !important;
  height: 1300px !important;
}

#cboxClose {
  opacity: 0.2;
  top: 0;
  background-image: url(/sites/all/themes/mf/images/close_button.png);
  height: 30px;
  width: 30px;
  right: 0;
  bottom: unset;
}

#cboxLoadedContent {
  margin-bottom:0;
}

.colorbox-info {
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: rgba(0, 0, 0, 0.33);
  font-style: oblique;
  font-size: 14px;
  font-weight: 100;
  padding-top: 5px;
  letter-spacing: -0.5px;
  cursor: default;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 5px;
}