
.pane-nice-menus-2 {
  @include display-flex;
  > .nice-menu-menu-footer-menu {
    height: auto;
    text-align: center;
    margin: 0 auto;
    @include display-flex;
    > li {
      &:first-child {
        a {
          border-left: 1px solid rgba(0, 0, 0, 0.12);
        }
      }
      width:120px;
      height:30px;
      @include respond-to(from_480_screen) {
        > a {
          font-size: 14px;
        }
      }
      @include respond-to(from_480_to_640_screen) {
        width: 108px;
        > a {
          font-size: 12px;
        }
      }
      @include respond-to(to_480_screen) {
        width: 100px;
        > a {
          font-size: 12px;
        }
      }
      > a {
        text-decoration: none;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.24);
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.21);
        transition: 0.3s;
      }
      &:hover {
        a {
          color: #000;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
          transition: 0.3s;
        }
      }
    }
  }
}