
.pane-nice-menus-2 {
  @include display-flex;
  > .nice-menu-menu-footer-menu {
    height: auto;
    text-align: center;
    margin: 10px auto;
    @include display-flex;
    > li {
      &:first-child {
        a {
          border-left: 1px solid #474747;
        }
      }
      width:120px;
      height: auto;
      @include respond-to(from_480_screen) {
        > a {
          font-size: 14px;
        }
      }
      @include respond-to(from_480_to_640_screen) {
        width: 108px;
        > a {
          font-size: 12px;
        }
      }
      @include respond-to(to_480_screen) {
        width: 100px;
        > a {
          font-size: 12px;
        }
      }
      > a {
        text-decoration: none;
        border-right: 1px solid #474747;;
        color: #949494;
        text-shadow: rgba(247, 247, 247, 1);
        transition: 0.3s;
      }
      &:hover {
        a {
          color: #DBDBDB;
          text-shadow: 0px 0px 1px rgba(139, 139, 139, 1);
          transition: 0.3s;
        }
      }
    }
  }
}