
.pane-pane-for-logo {
  margin-top:10px;
  display: inline-block;
  @include respond-to(from_640_to_960_screen) {
    img {
      width: 120px;
    }
  }
  @include respond-to(to_640_screen) {
    margin-top: unset;
    position: absolute;
    top: 0;
    img {
      width: 60px;
    }
  }
}