#header-wrap {
  > .pane-pane-for-logo {
    @include respond-to(full_screen) {
      margin-top: 20px;
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 32px 0;
      width: 100%;
    }
    @include respond-to(to_960_screen) {
      display: none;
    }
  }
  > .nav-menu-medium-screen {
    .btn-show-nav-menu {
      .pane-pane-for-logo {
        @include respond-to(full_screen) {
          display: none;
        }
        @include respond-to(to_960_screen) {
          margin-top: 8px;
          position: absolute;
          z-index: 600;
          right: 4px;
          img {
            width: 320px;
          }
        }
      }
    }
  }
}