
.pane-pane-for-logo {
  @include respond-to(full_screen) {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
  }
  @include respond-to(to_960_screen) {
    margin-top: 2px;
    position: absolute;
    z-index: 600;
    right: 2px;
    img {
      width: 56px;
    }
  }
}