$transition_0_25: 0.25s;
$number_of_images: 12;
$border_color: #00cce2, #66009d, #7ffcff, #22ff00, #ffbdb3, #3E55F7, #A1AB13, #FF0091, #bffff5, #3E55F7, #A1AB13, #FF0091;

.front {
  > #content-wrap {
    .pane-most-viewed-panel-pane-1 {
      > .view-most-viewed {
        .views-row {
          opacity: 0;
        }
      }
    }
  }
}


.pane-most-viewed-panel-pane-1 {
  position: relative;
  > .pane-title {
    @include pane-title;
  }
  > .view-most-viewed {
    margin-top: 5px;
    margin-bottom: 5px;
    > .view-content {
      text-align: center;
      > .views-row {
        width: 25%;
        float: left;
        cursor: pointer;
        @include respond-to(to_800_screen) {
          width: 33.333333%;
        }
        @include respond-to(to_640_screen) {
          width: 50%;
        }
        .node--product--more-viewed {
          padding: 5px;
        }
        &:hover {
          color: #000;
          transition: $transition_0_25;
           img {
             transition: $transition_0_25;
             opacity: 0.85;
             border: 2px solid rgba(0, 0, 0, 0.52);

          }
        }
        > .view-mode-more_viewed {
           h2 {
             margin: 5px 0 0 0;
             font-weight: normal;
             text-overflow: ellipsis;
             white-space: nowrap;
             overflow: hidden;
             font-size: 0.9em !important;
          }
        }
      }
      @for $i from 1 through $number_of_images {
        > .views-row-#{$i}  img {
          background: #FFF;
          border-radius: 50%;
          border: 2px solid nth($border_color, $i);

        }
      }
    }
  }
}
  .animated {
    > :nth-child(n) {
      opacity: 1 !important;
    }
    .views-row-1 {
      transition-delay: 0s;
      transition-duration: .25s;
    }
    .views-row-2, .views-row-5, {
      transition-delay: .1s;
      transition-duration: .25s;
    }
    .views-row-3, .views-row-6, .views-row-9 {
      transition-delay: .2s;
      transition-duration: .25s;
    }
    .views-row-4, .views-row-7, .views-row-10 {
      transition-delay: .3s;
      transition-duration: .25s;
    }
    .views-row-8, .views-row-11 {
      transition-delay: .4s;
      transition-duration: .25s;
    }
    .views-row-12 {
      transition-delay: .5s;
      transition-duration: .25s;
    }
  }

