.pane-page-content {
  .node--product {
    display: table;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .group-description-product {
      clear: both;
      display: table-cell;
      vertical-align: middle;
      position:relative;
      width: 40%;
      text-align: right;
      padding: 30px 20px 30px 30px;
      @include linear-gradient(left,rgba(0,0,0,0),0%,rgba(0, 0, 0, 0.04),100%);
      .field--name-title {
        h1 {
          color: #000;
          text-shadow: 0px 0px 1px #000;
          font-weight: bolder;
          text-transform: uppercase;
          margin: 0;
        }
      }
      .field--name-body {
        text-align: justify;
        margin: 10px 0 0 0;
        .field__items {
          float: right;
          p {
            margin: 0;
          }
        }
      }
      .field--name-field-cost {
        padding-top: 25px;
        font-style: oblique;
        color: rgba(0, 0, 0, 0.4);
      }
      &:after {
        content: "";
        width: 1px;
        height: 100%;
        background: rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .group-product-image {
      width: 100%;
      padding: 30px;
      @include linear-gradient(right,rgba(0,0,0,0),0%,rgba(0, 0, 0, 0.10),100%);
      .group-image-group {
        > .field--name-one-more-picture {
          clear: both;
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
          > .field__items {
            > .field__item {
              > .field--name-field-pictures {
                > .field__items {
                  position: relative;
                  > .field__item {
                    width: 80px;
                    height: 80px;
                    margin: 10px 0 10px 0;
                    display: flex;
                      > img {
                        margin: auto;
                        cursor: pointer;
                        transition: 0.25s;
                        &:hover {
                          opacity: 0.9;
                          transition: 0.25s;
                          transform: scale(1.05);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > .field--name-field-pictures {
          display: table-cell;
          > .field__items {
            height: 450px;
            width: 450px;
            display: flex;
            > .field__item {
              margin: auto;
              display: none;
              > a {
                > img {
                  cursor: pointer;
                  &:hover {
                    transition: 0.25s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.visible {
  display: block !important;
}