.pane-page-content {
  .node--product {
    display: table;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .group-description-product {
      clear: both;
      display: table-cell;
      vertical-align: middle;
      width: 40%;
      padding: 30px;
      .field--name-title {
        h2 {
          font-weight: bolder;
          text-transform: uppercase;
          margin: 0;
        }
      }
      .field--name-body {
        text-align: justify;
        margin: 10px 0 0 0;
        p {
          margin: 0;
        }
      }
      .field--name-field-cost {
        padding-top: 25px;
        font-style: oblique;
      }
    }
    .group-product-image {
      width: 100%;
      padding: 30px;
      .group-image-group {
        > .field--name-one-more-picture {
          clear: both;
          display: table-cell;
          vertical-align: bottom;
          > .field__items {
            > .field__item {
              > .field--name-field-pictures {
                > .field__items {
                  position: relative;
                  > .field__item {
                    &:last-child {
                      > a {
                        > img {
                          position: absolute;
                          bottom: 0;
                          left: 70px;
                        }
                      }
                    }
                    &:nth-last-child(2) {
                      > a {
                        > img {
                          position: absolute;
                          bottom: 68px;
                          left: 22px;
                        }
                      }
                    }
                    &:nth-last-child(3) {
                      > a {
                        > img {
                          position: absolute;
                          bottom: 149px;
                          left: -2px;
                        }
                      }
                    }
                    &:nth-last-child(4) {
                      > a {
                        > img {
                          position: absolute;
                          bottom: 233px;
                          left: 0;
                        }
                      }
                    }
                    padding-top: 2px;
                    padding-right: 2px;
                    width: 80px;
                    height: 80px;
                    > a {
                      > img {
                        cursor: pointer;
                        border: 2px solid #fff;
                        border-radius: 40px;
                        &:hover {
                          opacity: 0.9;
                          transition: 0.25s;
                          border: 2px solid rgba(0, 0, 0, 0.1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > .field--name-field-pictures {
          display: table-cell;
          > .field__items {
            > .field__item {
              > a {
                > img {
                  cursor: pointer;
                  border: 2px solid rgba(0, 0, 0, 0.02);
                  border-radius: 280px;
                  &:hover {
                    border: 2px solid rgba(255, 255, 255, 0.10);
                    transition: 0.25s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}