$height_of_image:310px;

.pane-random-homepage-product-panel-pane-1 {
  >h2 {
    margin-top: 0 !important;
    @include pane-title;
  }
  >.view-random-homepage-product {
    @include random-product-pane;
  }
}

.views-row-visible {
  transition: 1s;
  height: $height_of_image !important;
}