$height_of_image:310px;

.pane-random-homepage-product-panel-pane-1 {
  >h2 {
    @include pane-title;
  }
  >.view-random-homepage-product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 7px 0 3px 0;
    @include random-product-pane;
  }
}

.views-row-visible {
  transition: 1s;
  height: $height_of_image !important;
}