$height_of_image:310px;
#content-wrap {
  > .pane-page-content {
    .pane-random-homepage-product-panel-pane-1 {
      >h2 {
        @include pane-title;
      }
      >.view-random-homepage-product {
        @include random-product-pane;
      }
    }
  }
}

.views-row-visible {
  transition: 1s;
  height: $height_of_image !important;
}