.pane-see-more-product-homepage-panel-pane-1 {
  height: 200px;
  overflow: hidden;
  transition: 0.2s;
  margin-bottom: 10px;
  @include respond-to(to_640_screen) {
    height: 170px;
    > .see-more {
      margin: 10px auto 60px auto !important;
    }
  }
  > .border-see-more {
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    bottom:0;
    z-index: 5;
  }
  > .see-more {
    text-align: center;
    width: 150px;
    line-height: 60px;
    border: 1px solid rgba(234, 234, 234, 1);
    margin: 40px auto 60px auto;
    background: #fff;
    transition: 0.3s;

    @include display-flex;
    @include flex-flow;
    position: relative;
      > .see-more-btn {
        width: 100%;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
      }
      > img {
        position: absolute;
        bottom: -34px;
        left: 62.5px;
        opacity: 0.4;
        transition: 0.3s;

    }
  }
  >.view-see-more-product-homepage {
    transition: 0.3s;
    @include random-product-pane;
  }
}

.see-more-pictures {
  transition: 0.3s;
  margin-top: -20px;
}

.see-more-hover {
  transition: 0.3s;
  border: 1px solid #fff !important;
  background: #000 !important;
  > .see-more-btn {
    transition: 0.3s;
    color: #fff !important;
  }
    > img {
      transition: 0.3s;
      opacity: 1 !important;

  }
}

.see-more-visible {
  > .see-more {
    > img {
      @include transform-rotate(180deg);
    }
  }
}