#header-wrap {
  > .pane-searchbox-panel-pane-1 {
    position: absolute;
    top: 90px;
    right: 25px;
    @include respond-to(to_960_screen) {
      display: none;
    }
  }
  > .nav-menu-medium-screen {
    .pane-searchbox-panel-pane-1 {
      @include respond-to(full_screen) {
        display: none;
      }
      @include respond-to(to_960_screen) {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
  .pane-searchbox-panel-pane-1 {
    > .view-display-id-panel_pane_1 {
      .views-exposed-widgets {
        position: relative;
        margin: 0;
        > .views-widget-filter-search_api_views_fulltext {
          padding: 0;
          > .views-widget {
            > .form-type-textfield {
              > .form-text {
                background: #F7F7F7;
                border: 1px solid #DDD;
                border-radius: 3px;
                padding-right: 30px;
                transition: 0.3s;
                font-style: italic;
                color: rgba(0, 0, 0, 0.55);
                padding-left:10px;
                height: 30px;
                width: 180px;
                font-size: 0.9em;
              }
            }
          }
        }
        > .views-submit-button {
          position: absolute;
          float: none;
          padding: 0;
          opacity: 0.3;
          transition: 0.3s;
          top: 3px;
          right: 3px;
          height: 24px;
          width: 24px;
          > .form-submit {
            background: url(../../mf/images/search_box/search.png) no-repeat;
            margin: 0;
            background-size: cover;
            color: transparent;
            border: none;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

.search_box_hover {
  transition: 0.3s;
  background: #f9f9f9 !important;
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
}

.search_box_focus {
  color: rgba(0, 0, 0, 0.74) !important;
  transition: 0.3s;
  width: 220px !important;
  border: 1px solid rgba(0, 0, 0, 0.43) !important;
}

.search_submit_hover {
  transition: 0.3s;
  opacity:0.5 !important;
}
.search_submit_focus {
  transition: 0.3s;
  opacity:1 !important;
}
