.pane-view-slideshow-panel-pane-1 {
  > .view-view-slideshow {
    .skin-default {
      position: relative;
      @include clearfix();
    > .views-slideshow-controls-top {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 36px;
      bottom: 95px;
      display: none;
      @include respond-to(from_480_to_640_screen) {
        bottom: 83px;
      }
      @include respond-to(to_480_screen) {
        bottom: 63px;
      }
      .views-slideshow-pager-fields {
        margin: auto;
        .views-slideshow-pager-field-item {
          display: none;
          visibility: hidden;
          opacity: 0;
          padding: 10px;
          background: #fff;
          font-size: 18px;
          color: #000;
          letter-spacing: -0.5px;
          font-style: oblique;
        }
      }
    }
    > .views_slideshow_cycle_main {
      position: relative;
      z-index: 1;
      .views-slideshow-cycle-main-frame {
        width: 100% !important;
        text-align: center;
        height: auto;
        > :nth-child(n) {
          width: 100% !important;
          height: auto !important;
          .views-field-field-images-1 {
            img {
              width: 100%;
              max-height: 480px;
              max-width: unset;
            }
          }
        }
      }
    }
    > .views-slideshow-controls-bottom {
      position: absolute;
      bottom: 15px;
      z-index: 1;
      @include respond-to(full_screen) {
        width: 100%;
        @include display-flex;
      }
      @include respond-to(to_960_screen) {
        right: 10px;
      }
      > .views-slideshow-pager-fields {
        @include clearfix();
        margin: auto;
        .views-slideshow-pager-field-item {
          @include clearfix();
          float: left;
          margin: 5px;
          cursor: pointer;
          width: 20px;
          height: 20px;
          background: #AEAEAE;
          transition: .3s ease;
          border: 1px solid #AEAEAE;
          border-radius: 50%;
        }
        .active {
          border: 1px solid #ffffff;
          background: #303030;
        }
      }

      }
    }
  }
}

.pane-view-slideshow-panel-pane-1 > .view-view-slideshow .skin-default > .views-slideshow-controls-bottom > .views-slideshow-pager-fields .views-slideshow-pager-field-item:before, .pane-view-slideshow-panel-pane-1 > .view-view-slideshow .skin-default > .views-slideshow-controls-bottom > .views-slideshow-pager-fields .views-slideshow-pager-field-item:after {
  content: unset;
}