.pane-view-slideshow-panel-pane-1 {
  margin-top: 10px;
  > .view-view-slideshow {
    .skin-default {
      position: relative;
      @include clearfix();
    > .views-slideshow-controls-top {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 36px;
      bottom: 95px;
      display: none;
      .views-slideshow-pager-fields {
        margin: auto;
        .views-slideshow-pager-field-item {
          display: none;
          visibility: hidden;
          opacity: 0;
          padding: 10px;
          background: #fff;
          font-size: 18px;
          color: #000;
          letter-spacing: -0.5px;
          font-style: oblique;
        }
      }
    }
    > .views_slideshow_cycle_main {
      position: relative;
      z-index: 1;
      .views-slideshow-cycle-main-frame {
        @include respond-to(from_640_to_960_screen) {
          width: 100% !important;
          height: 400px !important;
          > :nth-child(n) {
            width: 100% !important;
            .views-field-field-images-1 {
              img {
                height: 400px !important;
              }
            }
          }
        }
      }
    }
    > .views-slideshow-controls-bottom {
      height: 90px;
      width: 100%;
      @include display-flex;
      > .views-slideshow-pager-fields {
        margin: auto;
        .views-slideshow-pager-field-item {
          float: left;
          margin: 5px 0 10px 10px;
          cursor: pointer;
          transition: 0.3s ease;
          .views-field-title {

          }
          .views-field-field-images {
            img {
              transition: 0.3s ease;
              opacity: 0.6;

            }
          }
          .views-content-field-images {
          }
          &:last-child {
            margin-right: 10px;
          }
        }
        .active {
          img {
            transition: 0.3s ease;
            opacity: 1 !important;
          }

        }
      }

      }
    }
  }
}