
.pane-page-title {
  z-index: 1;
  position: relative;
  margin-top: 10px;
  height: 150px;
  @include display-flex;
  > h1 {
    margin: auto;
    color: #FFF;
    font-size: 2.5em;
    text-shadow: 0 0 10px #000;
    cursor: default;
  }
}
.pane-page-content {
  > .contextual-links-region {
    > .pane-taxonomy-term-field-image-for-title {
      margin-top: -150px;
      > .field--name-field-image-for-title {
        > .field__items {
          > .field__item {
           > img {
              vertical-align: bottom;
            }
          }
        }
      }
    }
    > .pane-term-description {
      > p {
        margin: 0;
        padding: 10px;
        text-align: center;
        color: #000;
        text-shadow: 0 0 1px #3A3A3A;
      }
    }
    > .pane-show-subterms-panel-pane-1 {
      > .view-display-id-panel_pane_1 {
        @include display-flex;
        > .view-content {
          display: table;
          margin: auto;
          > .views-row {
            display: inline-block;
            vertical-align: top;
            padding: 5px 0 5px 0;
            margin: 0 0 -1px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition:0.5s;
            > .views-field-field-small-image-on-parent-page {
              > .field-content {
                width: 150px;
                height: 150px;
                @include display-flex;
                > a {
                  margin: auto;
                  > img {
                    vertical-align: bottom;
                    transition:0.5s;
                    @include grayscale;
                  }
                }
              }
            }
            > .views-field-name {
              margin: 0 0 5px 0;
              text-align: center;
              > .field-content {
                > a {
                  transition: 0.5s;
                  color: #3D3D3D;
                  text-decoration: none;
                }
              }
            }
            &:hover {
              border-bottom: 1px solid #000;
              transition:0.5s;
              > .views-field-field-small-image-on-parent-page {
                > .field-content {
                  > a {
                    > img {
                      transition: 0.5s;
                      @include ungrayscale;
                    }
                  }
                }
              }
              > .views-field-name {
                > .field-content {
                  > a {
                    transition: 0.5s;
                    color: #000000;
                  }
                }
              }
            }
          }
        }
      }
    }
    > .pane-random-product-of-taxonomy-term-panel-pane-1 {
      > .pane-title {
        @include pane-title;
      }
      > .view-random-product-of-taxonomy-term {
        margin-top: 7px;
        @include random-product-pane;
      }
    }
    > .pane-random-product-of-taxonomy-term-panel-pane-2 {
      > .pane-title {
        @include pane-title;
      }
      > .view-random-product-of-taxonomy-term {
        margin-top: 7px;
        @include random-product-pane;
      }
    }
  }
}