#content-wrap {
  > .pane-page-title {
     h1 {
      @include pane-title;
    }
  }
}
.pane-taxonomy-term-slideshow-panel-pane-1 {
 > .view-taxonomy-term-slideshow {
   .views-slideshow-cycle-main-frame {
     max-height: 480px;
     text-align: center;
     img {max-height: 480px;}
   }
  }
}
.pane-page-content {
  .pane-taxonomy-term-field-image-for-title {
      @include respond-to(full_screen) {
        margin-top: -150px;
        > .field--name-field-image-for-title {
          > .field__items {
            > .field__item {
              > img {
                vertical-align: bottom;
              }
            }
          }
        }
      }
      @include respond-to(to_960_screen) {
        display: none;
      }
    }
  .pane-term-description {
    @include respond-to(from_800_screen) {
      padding: 0 90px;
    }
    @include respond-to(to_800_screen) {
      padding: 0 10px;
    }
      > p {
        margin: 0;
        padding: 0 0 10px 0;
        color: #000;
        text-shadow: 0 0 1px #3A3A3A;
      }
    }
  .pane-taxonomy-term-field-images {
    text-align: center;
  }
  .pane-show-subterms-panel-pane-1 {
      > .pane-title {
        @include pane-title;
      }
      > .view-display-id-panel_pane_1 {
        @include display-flex;
        > .view-content {
          display: table;
          margin: auto;
          text-align: center;
          margin-top: -5px;
          margin-bottom: 5px;
          > .views-row {
            padding: 10px 5px 0 5px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            transition:0.5s;
            position: relative;
            @include respond-to(full_screen) {
              > .views-field-field-small-image-on-parent-page {
                > .field-content {
                  width: 150px;
                  height: 150px;
                }
              }
            }
            @include respond-to(full_screen) {
              &:hover {
                > .views-field-name {
                  margin-bottom: 0;
                  transition: .3s ease;
                }
                > .views-field-field-small-image-on-parent-page {
                  img {
                    opacity: .5;
                    transition: .3s ease;
                  }
                }
              }
            }
            @include respond-to(to_960_screen) {
              &:hover {
                > .views-field-field-small-image-on-parent-page {
                  img {
                    opacity: .5;
                    transition: .3s ease;
                  }
                }
              }
            }
            @include respond-to(to_640_screen) {
              > .views-field-name {
                padding: 0px 10px;
                height: 35px !important;
              }
              > .views-field-field-small-image-on-parent-page {
                min-height: 150px;
                @include display-flex;
                > .field-content {
                  margin: auto;
                }
              }
            }
            > .views-field-field-small-image-on-parent-page {
              > .field-content {
                @include display-flex;
                > a {
                  margin: auto;
                  > img {
                    vertical-align: bottom;
                    transition:0.5s;
                  }
                }
              }
            }
            > .views-field-name {
              width: calc(100% - 10px);
              height: 50px;
              position: absolute;
              bottom: 0;
              left: 0;
              background: rgba(0, 0, 0, 0.69);
              z-index: 1;
              margin: 0 5px;
              @include respond-to(full_screen) {
                 margin-bottom: -50px;
              }
              transition: .3s ease;
              @include display-flex;
              > .field-content {
                margin: auto;
                > a {
                  transition: 0.5s;
                  color: #FFFFFF;
                  text-decoration: none;
                }
              }
            }

          }
        }
      }
    }
    .pane-random-product-of-taxonomy-term-panel-pane-1 {
      > .pane-title {
        @include pane-title;
      }
      .view-random-product-of-taxonomy-term {
        margin-top: 7px;
        @include random-product-pane;
      }
    }
      .pane-random-product-of-taxonomy-term-panel-pane-2 {
      > .pane-title {
        @include pane-title;
      }
      > .view-random-product-of-taxonomy-term {
        margin-top: 7px;
        @include random-product-pane;
      }
    }
}