
@mixin background-linear-gradient ($side, $arguments) {
  background: -webkit-linear-gradient($side, $arguments);
  background: -moz-linear-gradient($side, $arguments); /* FF3.6+ */
  background: -webkit-linear-gradient($side, $arguments); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($side, $arguments); /* Opera 11.10+ */
  background: -ms-linear-gradient($side, $arguments); /* IE10+ */
  @if ($side == left) {
    background: linear-gradient(to right, $arguments); /* W3C */
  }
}

@mixin linear-gradient($side, $start: #f1f1f1, $from: 0%, $stop: #d9d9d9, $to: 100% ) {
  background: $start;
  background: -webkit-gradient($side, from(ie-hex-str($start)), to(ie-hex-str($stop)));
  background: -moz-linear-gradient($side, $start $from, $stop $to);
  background: -moz-gradient($side, $start $from, $stop $to);
  background: -webkit-linear-gradient($side, $start $from,$stop $to);
  background: -o-linear-gradient($side, $start $from,$stop $to);
  background: -ms-linear-gradient($side, $start $from,$stop $to);
  @if ($side == left) {
  background: linear-gradient(to right, $start $from, $stop $to);
  }
  @if ($side == right) {
    background: linear-gradient(to left, $start $from, $stop $to);
  }
  @if ($side == top) {
    background: linear-gradient(to bottom, $start $from, $stop $to);
  }
  @if ($side == bottom) {
    background: linear-gradient(to top, $start $from, $stop $to);
  }
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($start)}', endColorstr='#{ie-hex-str($stop)}',GradientType=0 );

}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin filter-blur($value) {
  filter: blur($value);
  // Browser Specific
  -webkit-filter: blur($value);
  -moz-filter: blur($value);
  -o-filter: blur($value);
  -ms-filter: blur($value);
}

@mixin transform-rotate($arg) {
  -webkit-transform: rotate($arg);
  -moz-transform: rotate($arg);
  -o-transform: rotate($arg);
  -ms-transform: rotate($arg);
  transform: rotate($arg);

}

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  //filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

@mixin ungrayscale {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

@mixin views-row {
  margin: 3px;
  display: inline-block;
  position: relative;
  > .view-mode-random_homepage_pictures {
    cursor: pointer;
    > .field--name-title {
      opacity: 0;
      display: flex;
      text-align: center;
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0);
      color: rgba(255, 255, 255, 0);
      > .field__items {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50%;
        height: 220px;
        width: 220px;
        @include display-flex;
        .field__item {
          margin: auto;
        }
      }
    }
    > .field--name-field-pictures {
      transition: 0.3s;
      height: 310px;
      width: 310px;
      display: flex;
      .field__items {
        margin: auto;
      }
    }
  }
  &:hover {
    > .view-mode-random_homepage_pictures {
      > .field--name-title {
        opacity: 1;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #050505;
        background: rgba(255, 255, 255, 0.34);
        transition: 0.1s ease;
        > .field__items {
          transition: 0.3s ease;
          box-shadow: 0px 0px 30px 20px #FFF;
          background: rgba(0, 0, 0, 0.68);
        }
      }
      > .field--name-field-pictures {
        > img {
          opacity: 0.95;
        }
      }
    }
  }
  &:not(:hover) {
    > .view-mode-random_homepage_pictures {
      > .field--name-title {
        transition: 0.1s ease-in;
        .field__items {
          color: rgba(255, 255, 255, 0);
          transition: 0.1s ease-in;
        }
      }
    }
  }
}

@mixin random-product-pane {
  @include clearfix;
  > .view-content {
    text-align: center;
    > .views-row {
      @include views-row;
    }
  }
}

@mixin random-product-search-pane {
  @include clearfix;
 > .view-content {
   text-align: center;
   margin-top: 8px;
   > .views-row {
     padding: 0.3125%;
     position: relative;
     transition: 0.3s;
     height: 325px;
     width: 100%;
     overflow: hidden;
     > .panel-display {
       width: 100%;
       height: 100%;
       position: relative;
       transition: 0.3s;
       > .panel-col-first {
         width: 100%;
         position: absolute;
         > .inside {
           > .views-field-field-pictures {
             > .field-content {
               position: relative;
               > a {
                 > img {
                   margin-top: 4px;
                   background: #fff;
                   position: absolute;
                 }
               }
             }
           }
         }
       }
       > .panel-col-last {
         margin-top: 4px;
         width: 32.49475891%;
         position: absolute;
         height: 100%;
         overflow: hidden;
         cursor: default;
         > .inside {
           position: relative;
           height: calc(100% - 8px);
           border: 1px solid rgba(0, 0, 0, 0.07);
           background: rgba(0, 0, 0, 0.03);
           transition: 0.3s;
           @include display-flex;
           align-content: center;
           font-style: oblique;
           @include flex-flow;
           > .views-field-title {
             width:100%;
             padding: 0 15px 0 15px;
             font-size: 30px;
             color: rgba(0, 0, 0, 0.45);
             transition: 0.3s;
           }
           > .views-field-body-value {
             width: 100%;
             height: 0;
             padding: 0 10px 0 10px;
             overflow: hidden;
             font-size: 15px;
             transition: 0.1s;
             @include display-flex;
             > .field-content {
               margin: auto;
               > p {
                 margin: 0;
               }
             }
           }
           > .views-field-field-cost {
             width: 100%;
             padding: 0 15px 0 15px;
             font-size: 30px;
             color: rgba(255, 94, 94, 1);
             transition: 0.3s;
           }
         }
       }
     }
     &:hover {
       transition: 0.3s;
       background: rgba(0, 0, 0, 0.04);
       box-shadow: 0px 0px 3px 1px rgba(111, 111, 111, 0.41);
       > .panel-display {
         > .panel-col-last {
           > .inside {
             transition: 0.3s;
             background: rgba(0, 0, 0, 0.01);
             border: 1px solid rgba(0, 0, 0, 0.42);
             > .views-field-title {
               transition: 0.3s;
               text-shadow: 0px 0px 2px #000;
               color: rgba(0, 0, 0, 0.69);
             }
             > .views-field-body-value {
               transition: 0.3s;
               height: 120px;
               margin: 35px 0 35px 0;
             }
             > .views-field-field-cost {
               transition: 0.3s;
               text-shadow: 0px 0px 1px #FF0000;
               color: #FF0000;
             }
           }
         }
       }
     }
   }
   > :nth-child(3n+1) {
    > .panel-display {
      > .panel-col-first {
        > .inside {
          > .views-field-field-pictures {
            > .field-content {
              > :first-child {
                > img {
                  margin-left: 0.628930818%;
                  margin-right: 0.314465409%;
                  left: 0;
                }
              }
              > :last-child {
                > img {
                  margin-right: 0.628930818%;
                  margin-left: 0.314465409%;
                  right: 0;
                }
              }
            }
          }
        }
      }
      > .panel-col-last {
        margin-left: 33.752620545%;
        margin-right: 0.314465409%;
        left: 0;
      }
    }
   }
   > :nth-child(3n+2) {
     > .panel-display {
       > .panel-col-first {
         > .inside {
           > .views-field-field-pictures {
             > .field-content {
               > :first-child {
                 > img {
                   margin-left: 33.752620545% !important;
                   margin-right: 0.314465409% !important;
                   left: 0;
                 }
               }
               > :last-child {
                 > img {
                   margin-right: 0.628930818%;
                   margin-left: 0.314465409%;
                   right: 0;
                 }
               }
             }
           }
         }
       }
       > .panel-col-last {
         margin-left: 0.628930818%;
         margin-right: 0.314465409%;
       }
     }
   }
   > :nth-child(3n+3) {
     > .panel-display {
       > .panel-col-first {
         > .inside {
           > .views-field-field-pictures {
             > .field-content {
               > :first-child {
                 > img {
                   margin-left: 0.628930818%;
                   margin-right: 0.314465409%;
                   left: 0;
                 }
               }
               > :last-child {
                 > img {
                   margin-left: 33.752620545%;
                   margin-right: 0.314465409%;
                   left: 0;
                 }
               }
             }
           }
         }
       }
       > .panel-col-last {
         margin-left: 0.314465409%;
         margin-right: 0.628930818%;
         right: 0;
       }
     }
   }
 }
}

@mixin pane-title {
  font-style: oblique;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  cursor: default;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding: 20px 0 20px 0;
  margin: 0;
  &:before {
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px;
    margin-right: 10px;
  }
 &:after {
    margin-left: 10px;
    border-bottom: 1px solid #969696;
    content: ' ';
    display: inline-block;
    height: 1px;
    position: relative;
    top: -7px;
    width: 100px;
  }
}

@mixin animation-name($name) {
  -webkit-animation: $name;
  -moz-animation: $name;
  -o-animation: $name;
  animation: $name;
}

@mixin animation-title {
  0%   {
    opacity: 0;
    @include filter-blur(10px);
  }
  25%  {
    opacity: 1;
    @include filter-blur(0px)
  }
  50%  {
    @include filter-blur(0)
  }
  80%  {
    opacity: 1;
    @include filter-blur(0)
  }
  90% {
    opacity: 0;
    @include filter-blur(10px)
  }
  100% {
    opacity: 0;
  }
}

@mixin animation-field-title {
  0% {
    z-index: 1;
  }
  80% {
    opacity: 1
  }
  99% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    z-index: -1;
  }
}

@mixin all-field-colorbox {
  0% {
    @include filter-blur(15px);
    opacity: 0
  }
  80% {
    @include filter-blur(15px);
    opacity: 0
  }
  100% {
    @include filter-blur(0);
    opacity: 1
  }
}