
textarea:focus, input:focus {
  outline: none;
}

body {
  background: #ffffff;
  margin: 0 auto;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #3D3D3D;
  font-family: 'Open Sans', sans-serif, serif;
  overflow-x:hidden;
  @include clearfix();
  @include respond-to(from_640_to_960_screen) {
    width: 100%;
    font-size: 15px;
  }
  @include respond-to(to_800_screen) {
    font-size: 14px;
  }
  @include respond-to(to_640_screen) {
    width: 100%;
    font-size: 12px;
  }
  @include respond-to(to_480_screen) {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  color: unset;
}

#header-wrap {
  background: #282828;
  position: relative;
  float: none;
  z-index: 600;
}

#content-wrap {
   background: #ffffff;
  @include respond-to(to_960_screen) {
    margin-top: 50px;
  }
}

#footer-wrap {
  background: #282828;
}