
textarea:focus, input:focus {
  outline: none;
}

body {
  background: #ffffff;
  margin: 0 auto;
  width: 960px;
  height: auto;
  font-size:16px;
  color: #3D3D3D;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#header-wrap {
  background: #ffffff;
}

#content-wrap {
   background: #ffffff;
}

#footer-wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  background: #ffffff;
}