
textarea:focus, input:focus {
  outline: none;
}

body {
  background: #ffffff;
  margin: 0 auto;
  width: 960px;
  height: auto;
  font-size: 16px;
  color: #3D3D3D;
  font-family: 'Playfair Display', serif;
  overflow-x:hidden;
  @include respond-to(from_640_to_960_screen) {
    width: 100%;
    font-size: 15px;
  }
  @include respond-to(to_800_screen) {
    font-size: 14px;
  }
  @include respond-to(to_640_screen) {
    width: 100%;
    font-size: 12px;
  }
  @include respond-to(to_480_screen) {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#header-wrap {
  background: #ffffff;
  position: relative;
  float: none;
}

#content-wrap {
   background: #ffffff;
}

#footer-wrap {
}