/*******************************************************************************
 * mondrian.layout.scss
 *
 * Styling of the "mondrian" panels content layout.
 ******************************************************************************/
#header-wrap {
    width: 100%;
    height: auto;
    float:left;
}
#content-wrap {
    width: 100%;
    height: auto;
    float:left;
}
#footer-wrap {
    width: 100%;
    height: auto;
    float:left;
}